<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel='stylesheet' href='/dist/summernote.css' />
    <script src='/dist/summernote.min.js'></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo"><img  id="logo" src="/images/logo copy.svg"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a href="/logout"><b>LOGOUT</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a href="/logout"><b>LOGOUT</b></a></li>
        </ul>
      </div>
    </nav>
    <aside id="sticky-social">
      <ul>
        <li><a href="#" class="entypo-facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
        <li><a href="#" class="entypo-twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
        <li><a href="#" class="entypo-instagrem" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
      </ul>
    </aside>
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content" id="contact">
          <h4>Contact Us</h4>
          <div class="row">
            <form class="col s12" action="/contact" method="post">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="name" type="text" class="validate">
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <i class="material-icons prefix">email</i>
                  <input id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12 m6 l6">
                  <i class="material-icons prefix">phone</i>
                  <input id="mobileNo" type="number" class="validate">
                  <label for="mobileNo">Telephone</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <input id="subject" type="text" class="validate">
                  <label for="subject">Subject</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">email</i>
                  <textarea id="message" class="materialize-textarea"></textarea>
                  <label for="message">Message</label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
        </div>
    </div>
    <br>
    <div class="container">
      <h2 id="mainHead">ADMIN PANEL </h2>
      <h4 id="adminName"> Welcome <%= admin.fname %> <%= admin.lname %> </h4>
      <br> <br>
      <h3> What would like to review? </h3>
      <p>
        <input name="reviewType" type="radio" id="movie" value="m"/>
        <label for="movie">A Movie</label>
      </p>
      <p>
        <input name="reviewType" type="radio" id="tvshow" value="ts" />
        <label for="tvshow">A TV Show</label>
      </p>
      <p>
        <input name="reviewType" type="radio" id="trendingnews" value="tn" />
        <label for="trendingnews">A Trending News on Movie</label>
      </p>
      <form action="/admin" method="post" enctype="multipart/form-data" class="hide" name="movie" id="0">
        <label>Movie Name </label>
        <input type="text" required name="mName">
        <label>Release Date</label>
        <input type="date" required name="releaseDate">
        <label>Director name</label>
        <input type="text" required name="director">
        <label>Horizontal Poster </label>
        <input type="file" required name="horPoster">
        <label>Vertical Poster </label>
        <input type="file" required name="verPoster">
        <label>One Liner</label>
        <input type="text" required name="oneLiner">
        <label>Trailer Link</label>
        <input type="url" required name="trailerLink">
      <div id="summernote">Write your movie review here. . . </div>
      <label>Rating</label>
      <input type="number" required name="rating" min="0" max="10">
      <label>One should watch this movie? </label>
      <p>
        <input name="shouldWatch" type="radio" value="Yes" id="yes1"/>
        <label for='yes1'>Yes</label>
      </p>
      <p>
        <input name="shouldWatch" type="radio" value="No" id="no1"/>
        <label for="no1">No</label>
      </p>
      <input type="text" name="post" id="moviePost" hidden>
      <input type="text" value="movie" name="checkType" hidden>
      <input type="text" value="false" name="edit" hidden>
      <input type="submit">
    </form>
    <form action="/admin" method="post" enctype="multipart/form-data" class="hide" name="tvshow" id="1">
      <label>Tv Show Name </label>
      <input type="text" required name="tName">
      <label>Director name</label>
      <input type="text" required name="director">
      <label>Horizontal Poster </label>
      <input type="file" required name="horPoster">
      <label>Vertical Poster </label>
      <input type="file" required name="verPoster">
      <label>One Liner</label>
      <input type="text" required name="oneLiner">
      <div id="summernote1">Write your tvShow review here. . . </div>
      <label>Rating</label>
      <input type="number" required name="rating" min="0" max="10">
      <label>One should watch this Tv Show? </label>
      <p>
        <input name="shouldWatch" type="radio" value="Yes" id="yes2"/>
        <label for='yes2'>Yes</label>
      </p>
      <p>
        <input name="shouldWatch" type="radio" value="No" id="no2"/>
        <label for="no2">No</label>
      </p>
      <input type="text" name="post" id="tvshowPost" hidden>
      <input type="text" value="tvshow" name="checkType" hidden>
      <input type="text" value="false" name="edit" hidden>
      <input type="submit">
    </form>
    <form action="/admin" method="post" enctype="multipart/form-data" class="hide" name="trendingnews" id="2">
      <label>Movie Name </label>
      <input type="text" required name="tnName">
      <label>Release Date</label>
      <input type="date" required name="releaseDate">
      <label>Horizontal Poster </label>
      <input type="file" required name="horPoster">
      <label>Vertical Poster </label>
      <input type="file" required name="verPoster">
      <label>One Liner</label>
      <input type="text" required name="oneLiner">
      <label>Trailer Link</label>
      <input type="url" required name="trailerLink">
      <div id="summernote2">Write your trending news review here . . . </div>
      <label>Rating</label>
      <input type="number" required name="rating" min="0" max="10">
      <label>One should watch this movie? </label>
      <p>
        <input name="shouldWatch" type="radio" value="Yes" id="yes3"/>
        <label for='yes3'>Yes</label>
      </p>
      <p>
        <input name="shouldWatch" type="radio" value="No" id="no3"/>
        <label for="no3">No</label>
      </p>
      <input type="text" name="post" id="trendingPost" hidden>
      <input type="text" value="trending" name="checkType" hidden>
      <input type="text" value="false" name="edit" hidden>
      <input type="submit">
    </form>
    <h1> VIEW the posted reviews </h1>
    <div class="view">
      MOVIES
      <table>
        <% for(var i=0;i<100;i++){var movie = movies[i];if(!movie)continue; %>
          <tr>
            <td> <p><%= movie.mName %></p> </td>
            <td> <p><%= movie.oneLiner %></p> </td>
            <td> <button><a href="/admin/edit/<%= movie.type %>/<%= movie.id %>">EDIT</a></button> </td>
          </tr>
        <% } %>
      </table>
    </div>
      <div class="view">
        TV SHOWS
        <table>
          <% for(var i=0;i<100;i++){var movie = tvshows[i];if(!movie)continue; %>
            <tr>
              <td> <p><%= movie.tName %></p> </td>
              <td> <p><%= movie.oneLiner %></p> </td>
              <td> <button><a href="/admin/edit/<%= movie.type %>/<%= movie.id %>">EDIT</a></button> </td>
            </tr>
          <% } %>
        </table>
        </div>
        <div class="view">
          TRENDING NEWS
          <table>
            <% for(var i=0;i<100;i++){var movie = trendingnews[i];if(!movie)continue; %>
              <tr>
                <td> <p><%= movie.mName %></p> </td>
                <td> <p><%= movie.oneLiner %></p> </td>
                <td> <button><a href="/admin/edit/<%= movie.type %>/<%= movie.id %>">EDIT</a></button> </td>
              </tr>
            <% } %>
          </table>
          </div>
    </div>
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">Made with love by the desiCinephiles</p>
            </div>
            <div class="col l3 m4 offset-2 s12">
              <h5 class="white-text">Navigation</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
                <li><a class="grey-text text-lighten-3" href="/movies">Movies</a></li>
                <li><a class="grey-text text-lighten-3" href="/tvShows">TV Shows</a></li>
              </ul>
            </div>
            <div class="col l3 m4 offset-2 s12">
              <h5 class="white-text">Contributors</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#">Umang</a></li>
                <li><a class="grey-text text-lighten-3" href="#">Parth</a></li>
                <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
                <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 DesiCinephiles
          <a class="grey-text text-lighten-4 right" href="#modal1">CONTACT US</a>
          </div>
        </div>
      </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="/javascripts/materialize.js"></script>
      <script>
        $(document).ready(function(){
          $(".button-collapse").sideNav();
          $('.modal').modal();
          $('#summernote').summernote({
            height: 500,                 // set editor height
            minHeight: 300,             // set minimum height of editor
            maxHeight: 500,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
            });
          $('#summernote1').summernote({
            height: 500,                 // set editor height
            minHeight: 300,             // set minimum height of editor
            maxHeight: 500,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
            });
          $('#summernote2').summernote({
            height: 500,                 // set editor height
            minHeight: 300,             // set minimum height of editor
            maxHeight: 500,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
            });
        $('input:radio[name="reviewType"]').change(
          function(){
              if ($(this).val() == 'm') {
                  $('#1').addClass("hide");
                  $('#2').addClass("hide");
                  $('#0').removeClass("hide");
              }
              else if($(this).val() == 'ts') {
                  $('#0').addClass("hide");
                  $('#2').addClass("hide");
                  $('#1').removeClass("hide");
              }
              else{
                  $('#1').addClass("hide");
                  $('#0').addClass("hide");
                  $('#2').removeClass("hide");
              }
          });
          var markupStr;
          function doThis(){
            var markupStr = $('#summernote').summernote('code');
            //console.log(markupStr);
            document.getElementById("moviePost").value=markupStr;
          }
          setInterval(doThis, 5000);

          var markupStr1;
          function doThis1(){
            var markupStr1 = $('#summernote1').summernote('code');
            //console.log(markupStr1);
            document.getElementById("tvshowPost").value=markupStr1;
          }
          setInterval(doThis1, 5000);

          var markupStr2;
          function doThis2(){
            var markupStr2 = $('#summernote2').summernote('code');
            //console.log(markupStr2);
            document.getElementById("trendingPost").value=markupStr2;
          }
          setInterval(doThis2, 5000);
        });
      </script>
  </body>
</html>
