<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img  id="logo" src="/images/logo_1.jpg"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs active" style="background-color:black"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a onclick="$('.tap-target').tapTarget('open')"><b>SUBSCRIBE!</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs active"><a href="/"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a onclick="$('.tap-target').tapTarget('open')"><b>SUBSCRIBE!</b></a></li>
        </ul>
      </div>
    </nav>
    <!-- Element Showed -->
    <div class="fixed-action-btn pulse" style="bottom: 45px; right: 24px;">
          <a id="menu" class="btn btn-floating btn-large cyan" onclick="$('.tap-target').tapTarget('close')"><i class="material-icons">phonelink_ring</i></a>
    </div>
    <div class="tap-target-wrapper" style="right: -348px; bottom: -327px; position: fixed;" onmouseover="$('.tap-target').tapTarget('open')">
      <div class="tap-target cyan" data-activates="menu">
        <div class="tap-target-content white-text" style="width: 456px; height: 400px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;padding-bottom:0;">
          <h5>&nbsp;&nbsp;Subscribe to our News Letter!</h5>
            <form action="/subscribe" method="post">
            <label for="subscriberEmail" style="color: white;font-size: 1.2rem;">Enter your Email ID below</label>
            <input type="email" id="subscriberEmail" style="color: white;font-size: 1.2rem;border-bottom:1px solid white;" required>
            <br>
            <input type="submit" class="btn">
          </form>
        </div>
      </div>
      <div class="tap-target-wave" style="top: 344px; left: 344px; width: 112px; height: 112px;">
        <a class="btn btn-floating btn-large cyan tap-target-origin"><i class="material-icons">phonelink_ring</i></a>
      </div>
    </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content" id="contact">
        <h4>Contact Us</h4>
        <div class="row">
          <form class="col s12" action="/contact" method="post">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">phone</i>
                <input id="mobileNo" type="number" class="validate">
                <label for="mobileNo">Telephone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="subject" type="text" class="validate">
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
      </div>
  </div>
  <div id="main">
    <aside id="sticky-social">
      <ul>
          <li><a href="#" class="entypo-facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
          <li><a href="#" class="entypo-twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
          <li><a href="#" class="entypo-instagrem" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
        </ul>
    </aside>
    <div class="container">
      <!-- <a class="waves-effect waves-light btn" href="#modal2">View Cover</a> -->
    <div class="carousel carousel-slider center" data-indicators="true" id="home-carousel">
      <% for(var i=0;i<5;i++){var movie = movies[i];if(!movie)continue; %>
        <a href="/review/<%= movie.type %>/<%= movie.id %>"><div class="carousel-item red white-text" style="background: linear-gradient(rgba(20, 20, 20, .2),rgba(20, 20, 20, .2)), url('<%=movie.horPoster%>');background-size:cover;background-origin:center;">
          <h2><%= movie.mName %></h2>
          <p class="white-text oneLiner"><%= movie.oneLiner %></p>
        </div> </a>
			<% } %>
    </div>
    <br>
    <h3> LATEST REVIEWS </h3>
    <div class="row">
      <% for(var i=0;i<3;i++){var movie = movies[i];if(!movie)continue; %>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src='<%=movie.verPoster%>' height="220px" width="150px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><%= movie.oneLiner %></p>
              <p><b>Released on : </b><%= movie.releaseDate.toString().substring(0,15) %></p>
            </div>
            <div class="card-action">
              <a href="/review/<%= movie.type %>/<%= movie.id %>">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div class="row">
      <% for(var i=3;i<6;i++){var movie = movies[i];if(!movie)continue;%>
      <div class="col s12 m4 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img src='<%=movie.verPoster%>' height="220px" width="150px">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p><%= movie.oneLiner %></p>
              <p><b>Released on : </b><%= movie.releaseDate.toString().substring(0,15) %></p>
            </div>
            <div class="card-action">
              <a href="/review/<%= movie.type %>/<%= movie.id %>">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="/movies">Movies</a></li>
              <li><a class="grey-text text-lighten-3" href="/tvShows">TV Shows</a></li>
            </ul>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Contributors</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Umang</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Parth</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 DesiCinephiles
        <a class="grey-text text-lighten-4 right" href="#modal1">CONTACT US</a>
        </div>
      </div>
    </footer>
    <!--Import jQuery before materialize.js-->
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('#modal1').modal();
        $('.carousel.carousel-slider').carousel({fullWidth: true,duration: 300});
        autoplay();
        function autoplay() {
          $('.carousel').carousel('next');
          setTimeout(autoplay, 4500);
        }
        $('.tap-target').click(function(event){
          event.stopPropagation();
        });
      });
    </script>
  </body>
</html>
