<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
    <!--Mobile optimization-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/movie.css' />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/materialize.js"></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo"><img  id="logo" src="/images/logo copy.svg"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="nav-tabs"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs active"><a href="/movies"  style="background-color:black"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a onclick="$('.tap-target').tapTarget('open')"><b>SUBSCRIBE!</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#signup"><b>SIGN-UP</b></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li class="nav-tabs"><a href="/home"><b>HOME</b></a></li>
          <li class="nav-tabs"><a href="/about"><b>ABOUT US</b></a></li>
          <li class="nav-tabs active"><a href="/movies"><b>MOVIES</b></a></li>
          <li class="nav-tabs"><a href="/tvshows"><b>TV SHOWS</b></a></li>
          <li class="nav-tabs"><a href="#modal1"><b>CONTACT US</b></a></li>
          <li class="nav-tabs"><a onclick="$('.tap-target').tapTarget('open')"><b>SUBSCRIBE!</b></a></li>
          <li class="nav-tabs"><a class="modal-trigger waves-effect waves-light" href="#signup"><b>SIGN-UP</b></a></li>
        </ul>
      </div>
    </nav>
    <!-- Element Showed -->
    <div class="fixed-action-btn pulse" style="bottom: 45px; right: 24px;">
          <a id="menu" class="btn btn-floating btn-large cyan" onclick="$('.tap-target').tapTarget('close')"><i class="material-icons">phonelink_ring</i></a>
    </div>
    <div class="tap-target-wrapper" style="right: -348px; bottom: -327px; position: fixed;" onmouseover="$('.tap-target').tapTarget('open')">
      <div class="tap-target cyan" data-activates="menu">
        <div class="tap-target-content white-text" style="width: 456px; height: 400px; top: 0px; right: 0px; bottom: 0px; left: 0px; padding: 56px; vertical-align: bottom;padding-bottom:0;">
          <h5>&nbsp;&nbsp;Subscribe to our News Letter!</h5>
            <form action="/subscribe" method="post">
            <label for="subscriberEmail" style="color: white;font-size: 1.2rem;">Enter your Email ID below</label>
            <input type="email" id="subscriberEmail" name="email" style="color: white;font-size: 1.2rem;border-bottom:1px solid white;" required>
            <br>
            <input type="submit" class="btn">
          </form>
        </div>
      </div>
      <div class="tap-target-wave" style="top: 344px; left: 344px; width: 112px; height: 112px;">
        <a class="btn btn-floating btn-large cyan tap-target-origin"><i class="material-icons">phonelink_ring</i></a>
      </div>
    </div>
    <aside id="sticky-social">
    <ul>
        <li><a href="#" class="entypo-facebook" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
        <li><a href="#" class="entypo-twitter" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
        <li><a href="#" class="entypo-instagrem" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
    </ul>
  </aside>
  <div id="signup" class="modal">
    <div class="modal-content center">
      <h4> SIGN-UP </h4>
      <button class="loginBtn loginBtn--facebook"><a href="/auth/facebook">Login with Facebook</a></button>
      <button class="loginBtn loginBtn--google">
        Login with Google
      </button>
    </div>
  </div>
  <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content" id="contact">
        <h4>Contact Us</h4>
        <div class="row">
          <form class="col s12" action="/contact" method="post">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">phone</i>
                <input id="mobileNo" type="number" class="validate">
                <label for="mobileNo">Telephone</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="subject" type="text" class="validate">
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">SUBMIT</a>
      </div>
  </div>
  <br>
  <div class="container">
    <h2 class="center"> MOVIES </h2>
    <div class="row">
      <div class="col s12" style="background-color:#039be5;">
        <ul class="tabs">
          <li class="tab col s4"><a class="active" href="#test1"><h5>LATEST<i class="small material-icons">new_releases</i></h5></a></li>
          <li class="tab col s4"><a href="#test2"><h5>HIGHLY RATED <i class="small material-icons">verified_user</i></h5></a></li>
          <li class="tab col s4"><a href="#test3"><h5>TRENDING  <i class="small material-icons">trending_up</i></h5></a></li>
        </ul>
      </div>
        <!-- <h4 class="tabHeaders center-align">LATEST <i class="small material-icons">new_releases</i></h4> -->
        <div id="test1" class="col s12 movieTabs center">
          <% for(var i=0;i<10;i++){var movie = recentMovies[i];if(!movie)continue; %>
                <a class="movieElement" href="/review/<%= movie.type %>/<%= movie.id %>"><img src='<%=movie.verPoster%>' height="220px" width="150px"> </a>
          <% } %>
        </div>
        <div id="test2" class="col s12 movieTabs center">
          <% for(var i=0;i<10;i++){var movie = mostRatedMovies[i];if(!movie)continue; %>
                <a class="movieElement"  href="/review/<%= movie.type %>/<%= movie.id %>"><img src='<%=movie.verPoster%>' height="220px" width="150px"> </a>
          <% } %>
        </div>
        <div id="test3" class="col s12 movieTabs center">
          <% for(var i=0;i<10;i++){var movie = trendingNews[i];if(!movie)continue; %>
                <a class="movieElement"  href="/review/<%= movie.type %>/<%= movie.id %>"><img src='<%=movie.verPoster%>' height="220px" width="150px"> </a>
          <% } %>
        </div>
      </div>
    </div>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">Made with love by the desiCinephiles</p>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Navigation</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/home">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/about">About Us</a></li>
              <li><a class="grey-text text-lighten-3" href="/movies">Movies</a></li>
              <li><a class="grey-text text-lighten-3" href="/tvShows">TV Shows</a></li>
            </ul>
          </div>
          <div class="col l3 m4 offset-2 s12">
            <h5 class="white-text">Contributors</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#">Umang</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Parth</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Name</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2017 DesiCinephiles
        <a class="grey-text text-lighten-4 right" href="#modal1">CONTACT US</a>
        </div>
      </div>
    </footer>
    <script>
      $(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('.tap-target').click(function(event){
          event.stopPropagation();
        });
      });
    </script>
  </body>
</html>
